@use 'sass:color' as sys;
@use "../conf.scss" as conf;
@use "../funcs.scss" as f;

$section-bg-light: conf.$color-section-light;
$section-border-light: sys.scale($section-bg-light, $lightness: -5%);

// --- Dark Theme Colors ---
$section-bg-dark: conf.$color-section-dark;
$section-border-dark: sys.scale($section-bg-dark, $lightness: 10%);

.text-grid {
    >div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 1.5rem;
        margin-bottom: clamp(1rem, 3vw, 2rem)
    }

    &__card {
        list-style: none;
        padding: 1.5rem;
        margin: 0 !important;
        border-radius: f.get-radius();
        box-shadow: var(--shadow-sm);

        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        align-self: self-start;

        background: $section-bg-light;

        @media (prefers-color-scheme: dark) {
            background: $section-bg-dark;
        }

        li {
            margin: 0;

            &:first-child {
                margin-bottom: 0.5rem;
                font-size: 1.1em;
            }

            &:last-of-type {
                font-size: .8em;
                // text-align: center;
                line-height: 1.2em;
            }
        }

        strong {
            font-size: 1.4em;
            color: conf.$color-accent-light;

            @include f.mode(( //
                    color: (conf.$color-accent-light, conf.$color-accent-dark) //
                ));

        }
    }
}