@use "../conf.scss" as conf;
@use "../funcs.scss" as f;
@use 'sass:color' as sys;

.header-box {
    width: 100vw;
    // background-color: yellowgreen;
    // max-width: var(--max-width);
    position: relative;
    margin: clamp(1em, 3vw, 2em) auto 0 auto;

    // background: linear-gradient(135deg, #e85d04 0%, #dc2f02 100%);

    border-radius: conf.$default-radius;

    >div {
        // padding: 0 clamp(1em, 3vw, 2em);
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin-bottom: 16px;
        max-width: var(--max-width);
        padding-bottom: .5em;

        @include f.mode((//
            color: (conf.$color-H1-light, conf.$color-H1-dark),
        ))
    }

    figure {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        user-select: none;
        width: 100vw;
        margin-left: calc(50% - 50vw);
        max-height: 700px !important;
        overflow: hidden;
        border-radius: 0 !important;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            width: 100%;
            height: auto;
            overflow: hidden;
        }
    }

    .article-description {
        color: conf.$color-accent-light;
        max-width: 1000px;
        font-weight: 800;
        margin-top: 3em;
        margin-bottom: 3em;

        @media (prefers-color-scheme: dark) {
            color: white;
        }
    }

    .wp-block-image {
        margin-bottom: 0;
    }
}