@use 'sass:color' as sys;
@use "../conf.scss" as conf;
@use "../funcs.scss" as f;

@mixin styles {
    .article-card {
        display: block;
        position: relative;
        border-radius: f.get-radius("card");
        overflow: hidden;
        background: conf.$color-section-light;
        transition: transform 0.2s, box-shadow 0.2s;

        @include f.dark-mode {
            background: conf.$color-section-dark;
        }

        @if conf.$is-border == 'true' {
            border: 1px solid conf.$color-border-light;
            @include f.dark-mode {
                border-color: conf.$color-border-dark;
            }
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        a {
            text-decoration: none;
            display: block;
            color: inherit;
        }

        picture img {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 10;
            object-fit: cover;
        }

        h2 {
            @include f.font-hd;
            background: #000;
            color: #fff;
            padding: 10px 15px;

            position: relative;
            
            margin-top: -30px;
            margin-left: 20px;

            z-index: 2;
            
            font-size: 1rem;
            line-height: 1.4em;
            border-radius: f.get-radius("small");

            max-width: calc(100% - 40px); // Чтобы не вылезал за пределы карточки
            max-height: calc(3 * 1.4em + 20px); // 3 строки × line-height + padding top/bottom

            span {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        p {
            @include f.font-txt;
            padding: 10px 20px 20px;
            margin: 0;
            font-size: 0.9rem;
            color: rgba(conf.$color-text-light, 0.7);

            // Ограничение в 3 строки
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;

            @include f.dark-mode {
                color: rgba(conf.$color-text-dark, 0.7);
            }
        }
    }
}