@use "../conf.scss" as conf;
@use 'sass:color' as sys;
@use "../funcs.scss" as f;

$bg-light: rgba(conf.$color-section-light, .85);
$bg-dark: rgba(conf.$color-section-dark, .85);

@mixin styles {

    #main-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(60px + .4em * 2);
        display: flex;
        align-items: center;
        // background: #fff;
        z-index: 1000;
        gap: 0.5em;
        padding: .5em;

        .island {
            display: flex;
            align-items: center;
            height: 100%;
            border-radius: f.get-radius();

            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            overflow: hidden;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border: solid 5px $bg-light;
            background: $bg-light;

            @media (prefers-color-scheme: dark) {
                background: $bg-dark;
                border-color: $bg-dark;
            }
        }

        /* Остров 1 */
        .island-left {
            padding: 0 20px 0 4px;
            flex-shrink: 0;
            z-index: 2;
            gap: .5em;
            max-width: 300px;

            .site-logo {
                height: 100%;
                display: flex;
                align-items: center;

                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                img {
                    height: calc(100% - 4px * 2);
                    width: auto;
                    object-fit: contain;
                }
            }

            .site-name {
                a {
                    @include f.font-txt;
                    font-size: clamp(.7em, 1.5vw, 1em);
                    font-size: 0.7em;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    line-height: 1.05em !important;
                    letter-spacing: .05em;
                    color: rgba($color: conf.$color-text-light, $alpha: 0.85);
                    display: flex;

                    @media (prefers-color-scheme: dark) {
                        color: rgba(conf.$color-text-dark, .85);
                    }
                }
            }

            @media (max-width: 768px) {
                flex-grow: 1;
                max-width: none;
            }
        }

        /* Остров 2: Бегущая строка */
        .island-center {
            flex-grow: 1;
            overflow: hidden;
            position: relative;

            /* Карточки в строке */
            .menu-item-card {

                padding: 5px;
                width: clamp(250px, 15vw, 600px);
                flex-shrink: 0;
                border-radius: f.get-radius();

                background-color: transparent;
                transition: background-color 300ms ease-in-out;

                &:hover {
                    background: rgba(#000, 0.05);

                    @media (prefers-color-scheme: dark) {
                        background-color: rgba(#fff, .05);
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    width: 100%;
                }

                .menu-thumb {
                    width: 40px;
                    height: 40px;
                    background-size: cover;
                    background-position: center;
                    flex-shrink: 0;
                    margin-right: 10px;
                    border-radius: f.get-radius();
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .menu-title {
                    @include f.font-txt;
                    font-size: 14px;
                    line-height: 1.2;
                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: 2.4em;
                    flex-grow: 1;
                    color: rgba($color: conf.$color-text-light, $alpha: 0.85);
                    text-wrap: balance;

                    @media (prefers-color-scheme: dark) {
                        color: rgba(conf.$color-text-dark, .85);
                    }
                }
            }

            .ticker-wrapper {
                display: flex;
                white-space: nowrap;
            }

            .ticker-list {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                // animation: ticker-move 20s linear infinite;
            }

            .ticker-mover {
                display: flex;
                /* Выстраивает ticker-instance в ряд */
                will-change: transform;
            }

            .ticker-instance {
                display: flex;
                flex-shrink: 0;
                /* Не дает меню сжиматься */
            }

            .ticker-list {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }

        /* Остров 3 */
        .island-right {
            flex-shrink: 0;
            height: 60px;
            width: 60px;
            z-index: 2;

            display: flex;
            // align-items: center;
            // justify-content: center;

            .animated-icon {
                // display: flex;
                // align-items: center;
                // justify-content: center;
                display: flex;
                align-self: stretch;
                justify-self: stretch;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
            }

            .animated-icon svg {
                width: 30px;
                height: 30px;
                animation: pulse 2s infinite;
                color: conf.$color-text-light;

                @media (prefers-color-scheme: dark) {
                    color: conf.$color-text-dark;
                }
            }


        }
    }


    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.1);
            opacity: 0.7;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    main {
        margin-top: 60px !important;
    }



}