@use "../funcs.scss" as f;
@use "../conf.scss" as conf;

.head-desc {
    @include f.font-txt;
    font-size: clamp(.8em, 2vw, 1.2em);
    line-height: 1.1em;
    max-width: 700px;
    margin-bottom: 2em !important;
    text-wrap: balance;
    margin-top: 0 !important;
    font-style: italic;

    @if conf.$is-left-align == 'true' {
        text-align: left;
    }
    @else {
        text-align: center;
        margin: 0 auto;
    }
}

.head-tag {
    @include f.font-hd;

    font-size: clamp(.5em, 2vw, 1.1em);

    @include f.mode(( //
        color: (conf.$color-primary-light, conf.$color-primary-dark),
    ));
    
    @if conf.$is-left-align == 'true' {
        text-align: left;
    }
    @else {
        text-align: center;
    }
}
