@use "../funcs.scss" as f;
@use "../conf.scss" as conf;

article {

    .meta>div,
    .article-meta {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        gap: .25em 1em;

        @if conf.$is-left-align {
            justify-content: left;
        }
        @else {
            justify-content: center;
        }

        p,
        a,
        div,
        time,
        span {
            @include f.font-txt;
            font-size: clamp(14px, 2vw, 18px);
            text-wrap: none;
            text-align: center;
            user-select: none;
            text-decoration: none;
            line-height: 1em;
            color: conf.$color-text-light;

            @media (prefers-color-scheme: dark) {
                color: conf.$color-text-dark;
            }

            @media (min-width: 551px) {
                &:not(:first-child)::before {
                    content: "|";
                    margin-right: 1em;
                    opacity: 0.5;
                }
            }
        }

        @media (max-width: 550px) {
            flex-direction: column;
            align-content: center;
        }
    }
}