@use 'sass:color' as sys;
@use "../conf.scss" as conf;
@use "../funcs.scss" as f;

article {
    figure:has(img) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        user-select: none;
        margin: 0 auto 2rem auto;
        overflow: hidden;

        img {
            max-height: 60vh;
            border-radius: f.get-radius();
            aspect-ratio: 16 / 9;

            @if conf.$is-img_contain == 'true' {
                object-fit: contain;
                width: fit-content;
                max-width: 100%;
            } @else {
                width: 100%;
                object-fit: cover;
            }
        }

        figcaption {
            font-style: italic;
            margin: 0;
            opacity: .7;
            font-size: .8em;
            padding-top: .2em;
            text-wrap: balance;

            @if conf.$is-left-align == "true" and conf.$is-img_contain == 'false' {
                text-align: left;
                align-self: self-start;
            }
            @else {
                text-align: center;
            }
        }
    }

    figure:has(:has(img), .mobile-betting-container, .platforms-comparison, .bottom-space-p) {
        margin-bottom: 1.6rem;
    }

    section figure:last-child {
        margin-bottom: 0;
    }
}
