.related-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.related-list {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;

    li {
        margin-bottom: 12px;
        display: flex;
    }

    span {
        font-size: 0.7em !important;
    }

    .related-post-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
        transition: color 0.2s;


        &:hover {
            color: #0073aa;
        }
    }

    .related-thumb {
        width: 60px;
        height: 60px;
        margin-right: 12px;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
    }

    .related-post-title {
        font-size: 0.95rem;
        font-weight: 500;
    }
}





.related-post-title {
    font-size: 0.95rem;
    font-weight: 500;
}