@use 'sass:color' as sys;
@use "../conf.scss" as conf;
@use "../funcs.scss" as f;

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    // padding: 2em 1em;
}

section.article-box {
    @media (max-width: 725px) {
        padding: 0 !important;
        background: transparent !important;
        border: 0 !important;
    }
}

.grid-pagination {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;

    a,
    span {
        padding: 8px 13px;
        // border: 1px solid #ddd;
        margin: 0 4px;
        text-decoration: none;
        transition: color 300ms ease-in-out;

        &:hover {
            color: conf.$color-accent-light;
        }
    }

    .current {
        color: conf.$color-accent-light;
    }
}

main:has(.articles-grid) {
    max-width: var(--max-width);
    width: 100%;
}


.main-2-columns {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: clamp(1rem, 2vw, 2rem);

    aside {
        position: sticky;
        top: 5rem;
        height: fit-content;
    }

    @media (max-width: 950px) {
        grid-template-columns: 1fr;

        aside {
            display: none;
        }
    }
}