@use 'sass:color' as sys;
@use "../conf.scss" as conf;
@use "../funcs.scss" as f;

$bg-light: conf.$color-bg-light;
$bg-dark: conf.$color-bg-dark;

$tx-light: conf.$color-text-light;
$tx-dark: conf.$color-text-dark;

$act-light: conf.$color-accent-light;
$act-dark: conf.$color-accent-dark;

$mark-light: conf.$color-accent-dark;
$mark-dark: conf.$color-accent-light ;

$space: conf.$default-space;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    line-height: 1.7;
    background-color: $bg-light;

    @media (prefers-color-scheme: dark) {
        background-color: $bg-dark;
    }

    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}

article,
aside {

    p {
        font-size: inherit;
        font-size: clamp(.8rem, 3vw, 1rem);
        margin-bottom: $space;

        strong {
            color: var(--color-text);
            font-weight: 700;
        }

        mark {
            // background: $mark-light;
            // padding: 0.02em .2em;
            // border-radius: 4px;

            // @media (prefers-color-scheme: dark) {
            //     background: $mark-dark;
            //     color: $tx-light;
            // }
            @include f.mode(( //
                    background: (conf.$color-primary-light, conf.$color-primary-dark), //
                    color: (conf.$color-bg-light, conf.$color-bg-dark) //
                ));
            border-radius: 2px;
        }
    }

    * {
        @include f.font-txt;
        color: sys.adjust($tx-light, $blackness: 15%);
        font-size: 1em;
        line-height: 1.5em;

        @media (prefers-color-scheme: dark) {
            color: sys.adjust($tx-dark, $blackness: 15%);
        }
    }

    >hr {
        color: $tx-light;
        opacity: .1;
        margin: .2em 0;
        padding: clamp(0em, 3vw, .3em);

        @media (prefers-color-scheme: dark) {
            color: $tx-dark;
            opacity: .3;
        }
    }

    a {
        $color-light: sys.mix(conf.$color-accent-light, conf.$color-text-light, 60%);
        $color-dark: sys.mix(conf.$color-accent-dark, conf.$color-text-dark, 50%);
        text-decoration: none;;

        @include f.mode(( //
                color: ($color-light, $color-dark),
            ));
        transition: color 300ms ease-in-out;

        &:hover {
            @include f.mode(( //
                color: (conf.$color-primary-light, conf.$color-primary-dark),
            ));
        }
    }
}

main {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    margin: 1rem auto;
    padding: clamp(1rem, 3vw, 2rem);
    max-width: var(--max-width);
    border-radius: 0;

    width: 100%;

    article {
        width: 100%;
    }

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-image: url('/wp-content/uploads/map.webp');
        background-repeat: repeat;
        opacity: .08;
        z-index: -1;
        pointer-events: none;
    }
}