@use 'sass:color' as sys;
@use "sass:string";
@use "sass:map";
@use "scheme.fonts.scss" as font;

////////////////////////////////////////////////////////
///  ВАЖНО!!!
///
///  Файл обрабатывается php
///      - /utheme/inc/mod-google-font.php
///
////////////////////////////////////////////////////////

// тип добавляемого меню на сайте
$main-menu: "boring";  // island, aside, marquee, boring, docs, circle
$footer-menu: "2columns"; // 2columns, central

// стилизация оглавления в статье
$toc-menu: "icon"; // circle, number, icon
// меню должно быть в секции или располагаться открыто?
$is-not-section: "true"; // true, false

// стилизация блока details
$details: "plus"; // arrow, plus

// тип используемой на сайте карточки статей
$article-card: "slide"; // default, frame, slide, windows

// картинки вписываются или занимают всю ширину страницы?
$is-img_contain: "true"; // true, false

// выравнивание элементо по левому краю ? Иначе - центральное выравнивание
$is-left-align: "true"; // true, false

// в блоках секций, карточек, меню, футера использовать бордер?
$is-border: "false"; // true, false

// какую шрифтовую пару выбрать для сайта?
$font-vibe: 'vogue';
$active-pair: map.get(font.$font-pairs, $font-vibe);

// какой радиус использовать для секций, меню, карточек и прочее?
$radius-vibe: "neutral";

//
$density-vibe: 'auto';
/*
compact
- маленькие gap, узкие padding, мелкий шрифт, малые скругления
- Утилитарность, много данных на экране

standard
- Сбалансированные отступы, базовый шрифт
- Классический блог или корпоративный сайт.

spacious
- Гигантские margin между секциями, много «воздуха», крупные заголовки.
- Премиальность, чистота, акцент на фото (Портфолио, Luxury).
*/

@if $density-vibe =='auto' {
    $density-vibe: map.get(map.get(font.$font-pairs, $font-vibe), 'recommend-density');
}

// --- Светлая тема (Light Theme) ---
$color-primary-light: #4166f5;
$color-accent-light: #4166f5;
$color-text-light: #000;
$color-bg-light: #fff;
$color-section-light: #ffffffcc;

// --- Темная тема (Dark Theme) ---
$color-primary-dark: #4166f5;
$color-accent-dark: #4166f5;
$color-text-dark: #fff;
$color-bg-dark: #000;
$color-section-dark: #000000cc;;

// $color-H1-light: linear-gradient(75deg, $color-accent-light, $color-primary-dark);
// $color-H1-dark: linear-gradient(75deg, $color-primary-dark, $color-accent-dark);
$color-H1-light: #4166f5;
$color-H1-dark: #4166f5;

$color-border-light: sys.scale($color-section-light, $lightness: -5%);
$color-border-dark: sys.scale($color-section-dark, $lightness: 10%);

$color-success: #5db97a;
$color-warning: #fcd34d;
$color-error: #dc2f02;
$color-info: #4fc3f7;

// ============================================================================
// ТИПОГРАФИКА (TYPOGRAPHY)
// ============================================================================
:root {
    font-size: 20px; // Базовый размер шрифта (1rem)
    --max-width: 1200px; // ~1152px
    interpolate-size: allow-keywords; // Разрешает анимацию до auto
}

// ============================================================================
// ОТСТУПЫ И РАЗМЕРЫ (SPACING & SIZING)
// ============================================================================
$default-radius: .7rem;
$default-space: clamp(1rem, 3vw, 2rem);

main:has(.article-box) {
    max-width: 1300px;
    width: 100%;
}

$shadow-section: 0 4px 12px rgba(0, 0, 0, 0.1);
$shadow-section-hover: 0 2px 10px rgba(0, 0, 0, 0.2);
