@use "sass:color";
@use "sass:math";

// функция контраста
@function get-contrast-text($color) {
    $yiq: math.div((color.red($color) * 299) + (color.green($color) * 587) + (color.blue($color) * 114), 1000);
    @return if($yiq >= 150, #111111, #ffffff);
}

@function generate-scheme($hue, $style) {
    $sat: if($style == "luxury", 35%, if($style == "neon" or $style == "japane" or $style == "vibrant", 95%, 65%));
    $lgt: if($style == "luxury", 35%, 50%);

    $p-gen: hsl($hue, $sat, $lgt);
    $a-gen: hsl(($hue + 150) % 360, $sat, $lgt);

    // Инициализация базы
    $bg-l: #fff; $tx-l: #1a1a1a; $pr-l: $p-gen; $ac-l: $a-gen;
    $bg-d: #0d0d0d; $tx-d: #f0f0f0; $pr-d: color.adjust($p-gen, $lightness: 15%);
    $ac-d: null;

    @if $style == "luxury"{
        $bg-l: color.mix($p-gen, #FAFAF8, 3%);
        $tx-l: color.mix($p-gen, #1A1A1A, 15%);
        $bg-d: color.mix($p-gen, #0D0D0D, 12%);
    } @else if $style == "bold-dark" {
        $bg-l: #121212; $tx-l: #e0e0e0; $pr-l: hsl($hue, 85%, 60%);
        $bg-d: #000000; 
    } @else if $style == "graphite" {
        $bg-l: #F9F9F9; $tx-l: hsl($hue, 15%, 20%); $pr-l: hsl($hue, 10%, 25%);
        $bg-d: hsl($hue, 8%, 12%); $pr-d: hsl($hue, 5%, 85%);
    } @else if $style == "pastoral" {
        $bg-l: #F2EDE4; $tx-l: #4A3F35; $pr-l: color.mix($p-gen, #7D6B5D, 60%);
        $bg-d: #35322D; $tx-d: #D9D2C5;
    } @else if $style == "japane" {
        $bg-l: #FDFCF0; $tx-l: #080808; $pr-l: #E63946; 
        $bg-d: #050505; $pr-d: hsl($hue, 100%, 60%); $ac-d: hsl(($hue + 60) % 360, 100%, 55%);
    } @else if $style == "minimalist" {
        $bg-l: #ffffff; $pr-l: #111111; $ac-l: $p-gen;
        $bg-d: #050505; $pr-d: #ffffff;
    }

    @return (
        "pr-l": $pr-l,
        "ac-l": $ac-l,
        "tx-l": $tx-l,
        "bg-l": $bg-l,
        "pr-d": $pr-d,
        "ac-d": if($ac-d, $ac-d, color.adjust($ac-l, $lightness: 10%)),
        "tx-d": $tx-d,
        "bg-d": $bg-d,
        "h1-l": if($style == "bold-dark", #fff, $pr-l),
        "brd-l": color.mix($pr-l, $bg-l, 15%),
        "brd-d": color.mix($pr-d, $bg-d, 20%)
    );
}