@use "conf.scss";
@use "scheme.fonts.scss";
@use "funcs.scss";

@use "main-menu_island/main-menu" as island;
@use "main-menu_new-aside/menu" as aside;
@use "main-menu-marquee/menu" as marquee;

@use 'footer-2column/footer.scss' as footer_2columns;
@use 'footer-central/footer.scss'  as footer_central;

@use "page/page.scss";
@use "scroll-to-top/scroll-to-top.scss";

@use "page-articles/page-articles.scss";
@use "page-articles/card-default.scss" as card_default;
@use "page-articles/card-frame.scss" as card_frame;
@use "page-articles/card-slide.scss" as card_slide;
@use "page-articles/card-windows.scss" as card_windows;

@use "pape-404/page-404.scss";
@use 'page-sitemap/sitemap.scss';

@use "art__section/section.scss";
@use "art__titles/titles.scss";
@use "art__toc/toc-number.scss" as toc_number;
@use "art__toc/toc-circle.scss" as toc_circle;
@use "art__toc/toc-icon.scss" as toc_icon;
@use "art__lists/lists.scss";
@use "art__table/tables.scss";
@use "art__images/images.scss";
@use "art__box/box.scss";
@use "art__meta/meta.scss";
@use "art__description/descr.scss";
@use "art__breadcrumbs/breadcrumbs.scss";
@use "art__details/details-plus.scss" as details_plus;
@use "art__details/details-arrow.scss" as details_arrow;
@use "art__text-grid/text-grid.scss";
@use "art__code/code.scss";
@use "art__yes-no/yesno.scss";

// @use "header-box/header-box.scss";
@use "header-section-box/header-box.scss";
@use "block-autor/block-autor.scss";
@use "block-related_articles/related-art.scss";

@use "scrollbar/scrollbar.scss";
@use "selection/selection.scss";

@use "cookie-modal/cookie-modal.scss";

// блок вставки разных меню
@if conf.$main-menu =='island' {
    @include island.styles;
}
@else if conf.$main-menu =='aside' {
    @include aside.styles;
}
@else if conf.$main-menu =='marquee' {
    @include marquee.styles;
}

// блок стилизация оглавления
@if conf.$toc-menu =='number' {
    @include toc_number.styles;
}
@else if conf.$toc-menu =='circle' {
    @include toc_circle.styles;
}
@else if conf.$toc-menu =='icon' {
    @include toc_icon.styles;
}

// блок стилизация карточек статей
@if conf.$article-card =='default' {
    @include card_default.styles;
}
@else if conf.$article-card =='frame' {
    @include card_frame.styles;
}
@else if conf.$article-card =='slide' {
    @include card_slide.styles;
}
@else if conf.$article-card =='windows' {
    @include card_windows.styles;
}

// блок стилизация футера
@if conf.$footer-menu =='2columns' {
    @include footer_2columns.styles;
}
@else if conf.$footer-menu =='central' {
    @include footer_central.styles;
}

@if conf.$details =='plus' {
    @include details_plus.styles;
}
@else if conf.$details =='arrow' {
    @include details_arrow.styles;
}