@use 'sass:color' as sys;
@use "../conf.scss" as conf;

/* ------------------------------------------------------ */
// ПЕРЕМЕННЫЕ
$tx-light: conf.$color-text-light;
$tx-dark: conf.$color-text-dark;
$act-light: conf.$color-accent-light;
$act-dark: conf.$color-accent-dark;
$space: conf.$default-space;
$marker-size: 1.1em;
// Вставьте сюда свой SVG в формате Data URI.

$star: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>');
$bike: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Ccircle cx='5.5' cy='17.5' r='3.5' /%3E%3Ccircle cx='18.5' cy='17.5' r='3.5' /%3E%3Cpath d='M15 6a1 1 0 100-2 1 1 0 000 2zm-3 11.5V14l-3-3 4-3 2 3h2' /%3E%3C/svg%3E");
$basketball: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.0//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='800px' height='800px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23231F20' d='M20.161,2.273C16.233,3.835,12.553,6.2,9.375,9.378C9.19,9.562,9.018,9.755,8.838,9.942 c1.386,3.831,3.126,7.562,5.242,11.133C18.139,15.485,20.168,8.879,20.161,2.273z'/%3E%3Cpath fill='%23231F20' d='M63.824,28.682c-9.751-1.521-20.067,1.469-27.58,8.981c-1.202,1.202-2.287,2.479-3.258,3.812 c7.363,5.18,15.545,8.678,24.021,10.495C62.398,45.233,64.671,36.827,63.824,28.682z'/%3E%3Cpath fill='%23231F20' d='M27.05,63.616c9.75,1.519,20.067-1.471,27.58-8.983c0.308-0.308,0.602-0.624,0.894-0.94 c-8.344-1.927-16.387-5.451-23.659-10.562C27.924,49.32,26.316,56.563,27.05,63.616z'/%3E%3Cpath fill='%23231F20' d='M12.771,22.754c-2.172-3.571-3.98-7.297-5.435-11.13c-4.895,5.909-7.34,13.163-7.332,20.416 c3.926-1.562,7.607-3.928,10.785-7.105C11.491,24.232,12.147,23.503,12.771,22.754z'/%3E%3Cpath fill='%23231F20' d='M13.881,24.53c-0.535,0.62-1.09,1.231-1.678,1.819c-3.554,3.553-7.701,6.146-12.121,7.798 c0.497,7.462,3.59,14.782,9.293,20.485c0.027,0.028,0.057,0.054,0.085,0.082c2.091-7.833,5.595-15.364,10.528-22.188 C17.73,29.981,15.691,27.309,13.881,24.53z'/%3E%3Cpath fill='%23231F20' d='M30.236,41.961c-2.588-1.935-5.074-4.067-7.427-6.42c-0.493-0.493-0.958-1.003-1.433-1.507 c-4.874,6.828-8.298,14.369-10.258,22.207c4.102,3.541,8.884,5.869,13.886,6.984C24.372,55.889,26.117,48.385,30.236,41.961z'/%3E%3Cpath fill='%23231F20' d='M22.583,32.401c0.54,0.579,1.076,1.161,1.641,1.726c2.262,2.262,4.653,4.313,7.14,6.18 c1.033-1.42,2.187-2.778,3.467-4.058c7.829-7.829,18.525-11.037,28.708-9.635c-1.062-6.245-3.979-12.235-8.761-17.08 c-9.619,3.111-18.671,8.468-26.311,16.107C26.321,27.787,24.371,30.052,22.583,32.401z'/%3E%3Cpath fill='%23231F20' d='M15.215,22.892c1.773,2.78,3.774,5.456,6.007,8.002c1.78-2.312,3.711-4.546,5.831-6.666 c7.594-7.595,16.541-13.007,26.063-16.257c-8.688-7.646-20.523-9.78-30.973-6.405C22.307,9.073,19.998,16.62,15.215,22.892z'/%3E%3C/g%3E%3C/svg%3E");
$tennis: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg height='800px' width='800px' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000000;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M270.53,468.118c-20.387-26.737-29.981-61.49-30.024-98.106c0.026-39.603,11.328-81.828,34.762-119.712 c23.407-37.842,59.256-71.257,107.614-91.956c26.798-11.484,44.555-23.545,56.125-35.158c8.783-8.861,14.21-17.36,17.721-26.048 c-4.615-5.815-9.456-11.518-14.65-17.014C359.122-7.682,228.754-23.722,128.422,34.007c-3.702,5.315-7.162,10.716-10.147,16.264 c-9.577,17.782-15.211,36.435-15.228,56.599c0.026,17.212,4.081,35.823,14.46,56.642c15.47,31.035,23.2,67.479,23.244,103.828 c-0.026,30.973-5.668,61.956-18.059,89.401c-12.354,27.368-31.88,51.465-59.334,66.244c-0.328,0.173-0.673,0.329-1.001,0.501 c2.451,2.821,4.935,5.625,7.524,8.37c65.891,69.73,161.652,94.207,248.526,72.447c-3.15-1.216-6.282-2.459-9.258-3.951 C293.696,492.63,280.712,481.44,270.53,468.118z'/%3E%3Cpath class='st0' d='M481.784,135.264c-8.111,11.441-18.783,22.346-32.398,32.354c-13.701,10.104-30.336,19.438-50.49,28.084 c-40.482,17.376-69.67,44.735-89.083,76.002c-19.378,31.233-28.688,66.469-28.661,98.306c-0.018,22.087,4.468,42.431,12.51,58.608 c8.084,16.23,19.336,28.188,33.674,35.383c9.603,4.797,20.793,7.593,34.296,7.61c13.14,0,28.662-2.969,46.254-9.56 c8.274-6.117,16.298-12.717,23.959-19.964C517.702,360.969,534.975,234.605,481.784,135.264z'/%3E%3Cpath class='st0' d='M100.105,267.34c0.043-30.474-6.747-61.354-18.946-85.65c-12.908-25.771-18.766-51.016-18.749-74.82 c0-6.894,0.638-13.589,1.553-20.198c-75.046,84.985-84.442,208.725-26.142,303.4c2.113-0.923,4.271-1.803,6.272-2.873 c12.14-6.548,22.234-15.91,30.56-27.748C91.321,335.879,100.174,302.023,100.105,267.34z'/%3E%3C/g%3E%3C/svg%3E");

$icon-svg: $tennis;
/* ------------------------------------------------------ */

@mixin styles {

    article .toc,
    aside .toc {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        user-select: none;

        .page-toc-title {
            margin: 0 0 .8em;
            display: block;
            width: fit-content;
            padding-right: .2em;
        }

        ol.page-toc-list,
        ol.page-toc-list ol {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 0;
        }

        // .site-name {
        //     color: conf.$color-accent-dark;
        //     font-size: clamp(.7em, 3vw, 1.5em) !important;
        // }

        li {
            padding: calc(conf.$default-space / 4) 0;
            border-bottom: 1px solid var(--color-border);

            &:last-child {
                border-bottom: none;
            }

            a {
                font-size: clamp(.8rem, 3vw, 1rem);
                display: flex;
                align-items: center; // Центрируем круг относительно текста
                gap: clamp(1em, 3vw, 1.5em);
                color: $tx-light;
                transition: color 300ms ease-in-out, transform 300ms ease-in-out;
                font-weight: normal;
                text-decoration: none;

                @media (prefers-color-scheme: dark) {
                    color: $tx-dark;
                }

                &::before {
                    content: '';
                    display: block;
                    width: $marker-size; // Фиксированная ширина
                    height: $marker-size; // Фиксированная высота (равна ширине)
                    flex-shrink: 0; // Чтобы круг не сжимался текстом
                    
                    background-color: $act-light;
                    -webkit-mask-image: $icon-svg;
                    mask-image: $icon-svg;
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;

                    @media (prefers-color-scheme: dark) {
                        background-color: $act-dark;
                    }
                }

                &:hover {
                    text-decoration: none;
                    transform: translateX(8px);
                    color: $act-light;

                    @media (prefers-color-scheme: dark) {
                        color: $act-dark;
                    }
                }
            }
        }
    }


    aside .toc {
        .page-toc-title {
            font-size: .8em;
        }

        li a {
            font-size: .7em;
        }
    }

    article div.toc {
        margin-bottom: clamp(.7em, 5vw, 2em) !important;
        margin-top: clamp(1.4em, 5vw, 3em) !important;
    }

}