@use 'sass:color' as sys;
@use "../conf.scss" as conf;

/* ------------------------------------------------------ */
// ПЕРЕМЕННЫЕ
$tx-light: conf.$color-text-light;
$tx-dark: conf.$color-text-dark;
$act-light: conf.$color-accent-light;
$act-dark: conf.$color-accent-dark;
$space: conf.$default-space;
$marker-size: 1.1em;
// Вставьте сюда свой SVG в формате Data URI.


$icon-svg: conf.$toc-icon-select;
/* ------------------------------------------------------ */

@mixin styles {

    article .toc,
    aside .toc {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        user-select: none;

        .page-toc-title {
            margin: 0 0 .8em;
            display: block;
            width: fit-content;
            padding-right: .2em;
        }

        ol.page-toc-list,
        ol.page-toc-list ol {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 0;
        }

        // .site-name {
        //     color: conf.$color-accent-dark;
        //     font-size: clamp(.7em, 3vw, 1.5em) !important;
        // }

        li {
            padding: calc(conf.$default-space / 4) 0;
            border-bottom: 1px solid var(--color-border);

            &:last-child {
                border-bottom: none;
            }

            a {
                font-size: clamp(.8rem, 3vw, 1rem);
                display: flex;
                align-items: center; // Центрируем круг относительно текста
                gap: clamp(1em, 3vw, 1.5em);
                color: $tx-light;
                transition: color 300ms ease-in-out, transform 300ms ease-in-out;
                font-weight: normal;
                text-decoration: none;

                @media (prefers-color-scheme: dark) {
                    color: $tx-dark;
                }

                &::before {
                    content: '';
                    display: block;
                    width: $marker-size; // Фиксированная ширина
                    height: $marker-size; // Фиксированная высота (равна ширине)
                    flex-shrink: 0; // Чтобы круг не сжимался текстом
                    
                    background-color: $act-light;
                    -webkit-mask-image: $icon-svg;
                    mask-image: $icon-svg;
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;

                    @media (prefers-color-scheme: dark) {
                        background-color: $act-dark;
                    }
                }

                &:hover {
                    text-decoration: none;
                    transform: translateX(8px);
                    color: $act-light;

                    @media (prefers-color-scheme: dark) {
                        color: $act-dark;
                    }
                }
            }
        }
    }


    aside .toc {
        .page-toc-title {
            font-size: .8em;
        }

        li a {
            font-size: .7em;
        }
    }

    article div.toc {
        margin-bottom: clamp(.7em, 5vw, 2em) !important;
        margin-top: clamp(1.4em, 5vw, 3em) !important;
    }

}