@use 'sass:color' as sys;
@use "../conf.scss" as conf;

/* ------------------------------------------------------ */
// ПЕРЕМЕННЫЕ
$tx-light: conf.$color-text-light;
$tx-dark: conf.$color-text-dark;
$act-light: conf.$color-accent-light;
$act-dark: conf.$color-accent-dark;
$space: conf.$default-space;
$marker-size: 1.1em;
// Вставьте сюда свой SVG в формате Data URI.

$star: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>');
$bike: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Ccircle cx='5.5' cy='17.5' r='3.5' /%3E%3Ccircle cx='18.5' cy='17.5' r='3.5' /%3E%3Cpath d='M15 6a1 1 0 100-2 1 1 0 000 2zm-3 11.5V14l-3-3 4-3 2 3h2' /%3E%3C/svg%3E");
$basketball: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.0//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='800px' height='800px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23231F20' d='M20.161,2.273C16.233,3.835,12.553,6.2,9.375,9.378C9.19,9.562,9.018,9.755,8.838,9.942 c1.386,3.831,3.126,7.562,5.242,11.133C18.139,15.485,20.168,8.879,20.161,2.273z'/%3E%3Cpath fill='%23231F20' d='M63.824,28.682c-9.751-1.521-20.067,1.469-27.58,8.981c-1.202,1.202-2.287,2.479-3.258,3.812 c7.363,5.18,15.545,8.678,24.021,10.495C62.398,45.233,64.671,36.827,63.824,28.682z'/%3E%3Cpath fill='%23231F20' d='M27.05,63.616c9.75,1.519,20.067-1.471,27.58-8.983c0.308-0.308,0.602-0.624,0.894-0.94 c-8.344-1.927-16.387-5.451-23.659-10.562C27.924,49.32,26.316,56.563,27.05,63.616z'/%3E%3Cpath fill='%23231F20' d='M12.771,22.754c-2.172-3.571-3.98-7.297-5.435-11.13c-4.895,5.909-7.34,13.163-7.332,20.416 c3.926-1.562,7.607-3.928,10.785-7.105C11.491,24.232,12.147,23.503,12.771,22.754z'/%3E%3Cpath fill='%23231F20' d='M13.881,24.53c-0.535,0.62-1.09,1.231-1.678,1.819c-3.554,3.553-7.701,6.146-12.121,7.798 c0.497,7.462,3.59,14.782,9.293,20.485c0.027,0.028,0.057,0.054,0.085,0.082c2.091-7.833,5.595-15.364,10.528-22.188 C17.73,29.981,15.691,27.309,13.881,24.53z'/%3E%3Cpath fill='%23231F20' d='M30.236,41.961c-2.588-1.935-5.074-4.067-7.427-6.42c-0.493-0.493-0.958-1.003-1.433-1.507 c-4.874,6.828-8.298,14.369-10.258,22.207c4.102,3.541,8.884,5.869,13.886,6.984C24.372,55.889,26.117,48.385,30.236,41.961z'/%3E%3Cpath fill='%23231F20' d='M22.583,32.401c0.54,0.579,1.076,1.161,1.641,1.726c2.262,2.262,4.653,4.313,7.14,6.18 c1.033-1.42,2.187-2.778,3.467-4.058c7.829-7.829,18.525-11.037,28.708-9.635c-1.062-6.245-3.979-12.235-8.761-17.08 c-9.619,3.111-18.671,8.468-26.311,16.107C26.321,27.787,24.371,30.052,22.583,32.401z'/%3E%3Cpath fill='%23231F20' d='M15.215,22.892c1.773,2.78,3.774,5.456,6.007,8.002c1.78-2.312,3.711-4.546,5.831-6.666 c7.594-7.595,16.541-13.007,26.063-16.257c-8.688-7.646-20.523-9.78-30.973-6.405C22.307,9.073,19.998,16.62,15.215,22.892z'/%3E%3C/g%3E%3C/svg%3E");
$tennis: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg height='800px' width='800px' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000000;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M270.53,468.118c-20.387-26.737-29.981-61.49-30.024-98.106c0.026-39.603,11.328-81.828,34.762-119.712 c23.407-37.842,59.256-71.257,107.614-91.956c26.798-11.484,44.555-23.545,56.125-35.158c8.783-8.861,14.21-17.36,17.721-26.048 c-4.615-5.815-9.456-11.518-14.65-17.014C359.122-7.682,228.754-23.722,128.422,34.007c-3.702,5.315-7.162,10.716-10.147,16.264 c-9.577,17.782-15.211,36.435-15.228,56.599c0.026,17.212,4.081,35.823,14.46,56.642c15.47,31.035,23.2,67.479,23.244,103.828 c-0.026,30.973-5.668,61.956-18.059,89.401c-12.354,27.368-31.88,51.465-59.334,66.244c-0.328,0.173-0.673,0.329-1.001,0.501 c2.451,2.821,4.935,5.625,7.524,8.37c65.891,69.73,161.652,94.207,248.526,72.447c-3.15-1.216-6.282-2.459-9.258-3.951 C293.696,492.63,280.712,481.44,270.53,468.118z'/%3E%3Cpath class='st0' d='M481.784,135.264c-8.111,11.441-18.783,22.346-32.398,32.354c-13.701,10.104-30.336,19.438-50.49,28.084 c-40.482,17.376-69.67,44.735-89.083,76.002c-19.378,31.233-28.688,66.469-28.661,98.306c-0.018,22.087,4.468,42.431,12.51,58.608 c8.084,16.23,19.336,28.188,33.674,35.383c9.603,4.797,20.793,7.593,34.296,7.61c13.14,0,28.662-2.969,46.254-9.56 c8.274-6.117,16.298-12.717,23.959-19.964C517.702,360.969,534.975,234.605,481.784,135.264z'/%3E%3Cpath class='st0' d='M100.105,267.34c0.043-30.474-6.747-61.354-18.946-85.65c-12.908-25.771-18.766-51.016-18.749-74.82 c0-6.894,0.638-13.589,1.553-20.198c-75.046,84.985-84.442,208.725-26.142,303.4c2.113-0.923,4.271-1.803,6.272-2.873 c12.14-6.548,22.234-15.91,30.56-27.748C91.321,335.879,100.174,302.023,100.105,267.34z'/%3E%3C/g%3E%3C/svg%3E");
$tennis-rocket: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 -0.5 17 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' class='si-glyph si-glyph-tennis-racket-ball'%3E%3Ctitle%3E719%3C/title%3E%3Cdefs%3E%3C/defs%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1.000000, 0.000000)' fill='%23434343'%3E%3Ccircle cx='13.953' cy='13.953' r='1.953' class='si-glyph-fill'%3E%3C/circle%3E%3Cpath d='M14.754,1.265 C12.76,-0.733 9.038,-0.26 6.462,2.32 C4.895,3.884 4.111,5.875 4.182,7.641 C4.095,7.72 4.047,7.839 4.076,7.968 C4.538,10.066 2.698,12.224 2.678,12.247 C2.654,12.275 2.636,12.309 2.624,12.343 L0.244,14.723 C-0.044,15.011 -0.055,15.467 0.22,15.743 L0.242,15.763 C0.514,16.038 0.972,16.028 1.259,15.738 L3.714,13.286 C3.881,13.159 6.249,11.415 7.954,11.9 C8.067,11.933 8.177,11.903 8.26,11.838 C10.057,11.949 12.101,11.161 13.702,9.558 C16.278,6.981 16.75,3.26 14.754,1.265 L14.754,1.265 Z M6.225,9.84 C5.969,9.585 5.773,9.29 5.621,8.971 L6.976,7.615 L8.405,9.045 L7.035,10.416 C6.738,10.267 6.463,10.079 6.225,9.84 L6.225,9.84 Z M7.684,6.909 L9.098,5.493 L10.528,6.923 L9.112,8.337 L7.684,6.909 L7.684,6.909 Z M9.111,4.095 L7.652,2.636 C8.19,2.163 8.769,1.789 9.361,1.515 L10.527,2.68 L9.111,4.095 L9.111,4.095 Z M11.219,3.372 L12.649,4.802 L11.234,6.216 L9.805,4.788 L11.219,3.372 L11.219,3.372 Z M6.945,3.341 L8.405,4.802 L6.99,6.216 L5.825,5.05 C6.1,4.46 6.473,3.88 6.945,3.341 L6.945,3.341 Z M11.219,7.615 L12.723,9.118 C12.185,9.591 11.605,9.964 11.014,10.239 L9.805,9.03 L11.219,7.615 L11.219,7.615 Z M11.926,6.909 L13.341,5.493 L14.549,6.702 C14.276,7.294 13.902,7.874 13.429,8.411 L11.926,6.909 L11.926,6.909 Z M14.926,5.667 L14.047,4.788 L15.055,3.779 C15.143,4.372 15.096,5.017 14.926,5.667 L14.926,5.667 Z M14.15,1.914 C14.388,2.153 14.576,2.428 14.724,2.725 L13.354,4.095 L11.925,2.666 L13.28,1.312 C13.6,1.462 13.895,1.659 14.15,1.914 L14.15,1.914 Z M12.205,1.001 L11.233,1.974 L10.397,1.138 C11.02,0.976 11.633,0.929 12.205,1.001 L12.205,1.001 Z M5.449,6.087 L6.283,6.923 L5.31,7.896 C5.239,7.323 5.285,6.71 5.449,6.087 L5.449,6.087 Z M3.898,12.312 C3.875,12.279 3.862,12.241 3.834,12.212 L3.813,12.191 C3.784,12.162 3.747,12.15 3.714,12.127 C4.077,11.584 4.549,10.734 4.765,9.752 C4.944,10.071 5.163,10.369 5.43,10.635 C5.68,10.886 5.956,11.098 6.256,11.272 C5.322,11.498 4.457,11.962 3.898,12.312 L3.898,12.312 Z M8.09,10.745 L9.098,9.736 L9.977,10.615 C9.326,10.786 8.682,10.833 8.09,10.745 L8.09,10.745 Z' class='si-glyph-fill'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

$betting: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg fill='%23000000' height='800px' width='800px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 511.998 511.998' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M204.398,255.998H51.587c-28.492,0-51.584,23.104-51.584,51.605v152.789c0,28.502,23.092,51.605,51.584,51.605h152.811 c28.491,0,51.605-23.103,51.605-51.605V307.603C256.003,279.101,232.889,255.998,204.398,255.998z M213.337,460.393 c0,4.934-4.007,8.939-8.939,8.939H51.587c-4.923,0-8.917-3.996-8.917-8.939V307.603c0-4.942,3.994-8.939,8.917-8.939h152.811 c4.932,0,8.939,4.005,8.939,8.939V460.393z'/%3E%3Cpath d='M85.328,362.665c11.776,0,21.333-9.557,21.333-21.333c0-11.776-9.557-21.333-21.333-21.333s-21.333,9.557-21.333,21.333 C63.995,353.107,73.552,362.665,85.328,362.665z'/%3E%3Cpath d='M170.661,319.998c-11.776,0-21.333,9.557-21.333,21.333c0,11.776,9.557,21.333,21.333,21.333s21.333-9.557,21.333-21.333 C191.995,329.555,182.437,319.998,170.661,319.998z'/%3E%3Cpath d='M127.995,362.665c-11.776,0-21.333,9.557-21.333,21.333s9.557,21.333,21.333,21.333s21.333-9.557,21.333-21.333 S139.771,362.665,127.995,362.665z'/%3E%3Cpath d='M85.328,405.331c-11.776,0-21.333,9.557-21.333,21.333s9.557,21.333,21.333,21.333s21.333-9.557,21.333-21.333 S97.104,405.331,85.328,405.331z'/%3E%3Cpath d='M170.661,405.331c-11.776,0-21.333,9.557-21.333,21.333s9.557,21.333,21.333,21.333s21.333-9.557,21.333-21.333 S182.437,405.331,170.661,405.331z'/%3E%3Cpath d='M496.882,123.166L388.829,15.112c-20.15-20.15-52.815-20.15-72.965,0L207.811,123.166 c-20.15,20.15-20.15,52.815,0,72.965l108.053,108.053c20.15,20.15,52.815,20.15,72.965,0L496.882,196.13 C517.032,175.98,517.032,143.316,496.882,123.166z M466.712,165.96L358.659,274.014c-3.487,3.487-9.137,3.487-12.625,0 L237.981,165.96c-3.487-3.487-3.487-9.137,0-12.625L346.034,45.282c3.487-3.487,9.137-3.487,12.625,0l108.053,108.053 C470.2,156.823,470.2,162.473,466.712,165.96z'/%3E%3Cpath d='M337.266,84.22c-8.341,8.341-8.341,21.845,0,30.165c8.32,8.341,21.824,8.341,30.165,0c8.341-8.32,8.341-21.824,0-30.165 C359.09,75.878,345.586,75.878,337.266,84.22z'/%3E%3Cpath d='M337.266,144.561c-8.341,8.341-8.341,21.845,0,30.165c8.32,8.341,21.824,8.341,30.165,0 c8.341-8.32,8.341-21.824,0-30.165C359.09,136.22,345.586,136.22,337.266,144.561z'/%3E%3Cpath d='M337.266,204.9c-8.341,8.341-8.341,21.845,0,30.165c8.32,8.341,21.824,8.341,30.165,0c8.341-8.32,8.341-21.824,0-30.165 C359.09,196.559,345.586,196.559,337.266,204.9z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

$icon-svg: $betting;
/* ------------------------------------------------------ */

@mixin styles {

    article .toc,
    aside .toc {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        user-select: none;

        .page-toc-title {
            margin: 0 0 .8em;
            display: block;
            width: fit-content;
            padding-right: .2em;
        }

        ol.page-toc-list,
        ol.page-toc-list ol {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 0;
        }

        // .site-name {
        //     color: conf.$color-accent-dark;
        //     font-size: clamp(.7em, 3vw, 1.5em) !important;
        // }

        li {
            padding: calc(conf.$default-space / 4) 0;
            border-bottom: 1px solid var(--color-border);

            &:last-child {
                border-bottom: none;
            }

            a {
                font-size: clamp(.8rem, 3vw, 1rem);
                display: flex;
                align-items: center; // Центрируем круг относительно текста
                gap: clamp(1em, 3vw, 1.5em);
                color: $tx-light;
                transition: color 300ms ease-in-out, transform 300ms ease-in-out;
                font-weight: normal;
                text-decoration: none;

                @media (prefers-color-scheme: dark) {
                    color: $tx-dark;
                }

                &::before {
                    content: '';
                    display: block;
                    width: $marker-size; // Фиксированная ширина
                    height: $marker-size; // Фиксированная высота (равна ширине)
                    flex-shrink: 0; // Чтобы круг не сжимался текстом
                    
                    background-color: $act-light;
                    -webkit-mask-image: $icon-svg;
                    mask-image: $icon-svg;
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;

                    @media (prefers-color-scheme: dark) {
                        background-color: $act-dark;
                    }
                }

                &:hover {
                    text-decoration: none;
                    transform: translateX(8px);
                    color: $act-light;

                    @media (prefers-color-scheme: dark) {
                        color: $act-dark;
                    }
                }
            }
        }
    }


    aside .toc {
        .page-toc-title {
            font-size: .8em;
        }

        li a {
            font-size: .7em;
        }
    }

    article div.toc {
        margin-bottom: clamp(.7em, 5vw, 2em) !important;
        margin-top: clamp(1.4em, 5vw, 3em) !important;
    }

}