@use 'sass:color' as sys;
@use "../conf.scss" as conf;
@use "../funcs.scss" as f;

.author-sidebar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .author-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1rem;
        border: 3px solid conf.$color-accent-light;

        @media (prefers-color-scheme: dark) {
            border-color: conf.$color-accent-dark;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .author-name {
        @include f.font-txt;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .author-bio {
        font-size: 0.7rem;
        // margin-bottom: 1rem;
        opacity: 0.8;
    }

    .author-link {
        display: inline-block;
        background: conf.$color-accent-light;
        color: #fff;
        padding: 0.5em 1.5em;
        border-radius: conf.$default-radius;
        text-decoration: none;
        font-weight: 600;
        transition: background-color 0.3s ease;

        &:hover {
            background: sys.scale(conf.$color-accent-light, $lightness: -10%);
            color: #fff;
        }

        @media (prefers-color-scheme: dark) {
            background: conf.$color-accent-dark;
            color: conf.$color-bg-dark;

            &:hover {
                background: sys.scale(conf.$color-accent-dark, $lightness: 10%);
            }
        }
    }
}